
<div class="container">
    <nav class="nav nav-tabs justify-content-center">
        <ul class="nav">
            <li class="nav-item"><a [routerLink]="['setting']" class="nav-link"> <h3 >Setting</h3></a></li>
        </ul> 
            </nav>
    <div class="row">
        <div class="col">
            <div class="row text-info" style="font-size: 24px;">Saved Location</div>
            <div class="row" *ngFor="let city of savedCity">{{city}} <span><button (click)="deleteCity(city)" value="X">X</button></span></div>
        </div>
       
        <div class="col">
            <div class="row"><a (click)="addCity()"><p style="font-size: 24px; color: rgb(128, 128, 247);" class="text-primary">Add Location</p></a></div>

            <div class="row">
                <div *ngIf="add">
                    <input type="text" #cityname>
                    <button (click)="save(cityname)">Save city</button>
                </div>
            </div>
        </div>
    </div>
</div>


